#ev-selector {
    width: 100%;
    display: flex;

    li {
        display: inline-block;
        flex-basis: 100%;

        button {
            display: block;
            width: 100%;
            height: 32px;

            &:active {
                background-color: black;
                color: white;
            }
        }

        &:last-child {
            .label {
                border-right: 0;
            }
        }
    }

    .label {
        padding: 2px 0;
        margin: 2px 0;
        border-right: 1px solid gray;
        text-align: center;
        text-transform: uppercase;
    }
}
